<script>
  const checkAll = () => document.querySelectorAll("input[type='checkbox']").forEach((el) => {el.checked = !el.checked});
</script>
<div class="well">
  <h2>Nexus LTI Registration</h2>
  <div style="margin-top:3rem; margin-bottom:3rem;"></div>
  <form method="post" class="form-horizontal" action="<%= lti_save_capabilities_path %>">
    <input type="hidden" name="reg_id" value="<%= @registration.id %>"/>
  <p><strong>Resource handlers</strong></p>
  <table class="table table-sm" style="background-color: white;">
    <thead>
      <tr>
        <th class="text-center" onclick="checkAll()" style="cursor:pointer;user-select: none;">Enable? <small><strong>(toggle)</strong></small></th>
        <th>Resource Handler Name</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
      <% @rh_list.each do |rh| %>
        <tr>
          <td class="text-center" >
            <label style="display: block;cursor:pointer;user-select: none;">
              <input type="checkbox" checked value="true" style="cursor:pointer;user-select: none;" name="rh[<%= rh[:path] %>][enabled]"/>
            </label>
          </td>
          <td>
            <%= rh[:name] %>
            <input type="hidden" name="rh[<%= rh[:path] %>][name]" value="<%= rh[:name] %>"/>
          </td>
          <td>
            <code><%= rh[:full_path] %></code>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h4 style="margin-top:3rem; margin-bottom:3rem;">Nexus requires the following capabilities:</h4>
  <p><strong>Services</strong></p>
  <table class="table table-sm" style="background-color: white;">
    <thead>
      <tr>
        <th class="text-center">Enabled</th>
        <th>Service Name</th>
        <th>Service Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @services_offered.each do |service| %>
        <% service_name = service[:name] %>
        <% service_actions = service[:actions] %>
        <tr>
          <td class="text-center">
            <label style="display: block;">
              <%= icon 'check' %>
            </label>
          </td>
          <td>
            <%= service_name %>
          </td>
          <td>
            <%= service_actions.join(', ') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><strong>Parameters</strong></p>
  <table class="table table-sm" style="background-color: white;">
    <thead>
      <tr>
        <th class="text-center">Enabled</th>
        <th>Returned Field Name</th>
        <th>LTI&trade; Variable</th>
      </tr>
    </thead>
    <tbody>
      <% @capabilities[:parameters].each do |cap| %>
        <% cap_name = cap.downcase.gsub('.', '_') %>
        <tr>
          <td class="text-center" style="line-height: 2.2;">
            <label style="display: block;">
              <%= icon 'check' %>
            </label>
          </td>
          <td>
            <%= cap_name %>
          </td>
          <td style="line-height: 2.2;"><%= cap %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  <div class="form-group">
    <div style="margin-top: 1.5rem; margin-bottom: 1.5rem; display: flex;align-items: center;justify-content: center;">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </div>
</form>
</div>
