<div class="well">
  <h2>Nexus LTI Registration</h2>
  <h4 style="margin-top:3rem; margin-bottom:3rem;">Nexus requires the following capabilities:</h4>
  <form method="post" class="form-horizontal" action="<%= lti_save_capabilities_path %>">
    <input type="hidden" name="reg_id" value="<%= @registration.id %>"/>
  <p><strong>Services</strong></p>
  <table class="table table-sm" style="background-color: white;">
    <thead>
      <tr>
        <th class="text-center">Enabled</th>
        <th>Service Name</th>
        <th>Service Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @services_offered.each do |service| %>
        <% service_name = service[:name] %>
        <% service_actions = service[:actions] %>
        <tr>
          <td class="text-center">
            <label style="display: block;">
              <%= icon 'check' %>
            </label>
          </td>
          <td>
            <%= service_name %>
            <input type="hidden" name="service[<%= service_name %>][id]" value="<%= service[:service] %>"/>
          </td>
          <td>
            <%= service_actions.join(', ') %>
            <input type="hidden" name="service[<%= service_name %>][actions]" value="<%= service_actions %>"/>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><strong>Parameters</strong></p>
  <table class="table table-sm" style="background-color: white;">
    <thead>
      <tr>
        <th class="text-center">Enabled</th>
        <th>Returned Field Name</th>
        <th>LTI&trade; Variable</th>
      </tr>
    </thead>
    <tbody>
      <% @capabilities[:parameters].each do |cap| %>
        <% cap_name = cap.downcase.gsub('.', '_') %>
        <tr>
          <td class="text-center" style="line-height: 2.2;">
            <label style="display: block;">
              <%= icon 'check' %>
            </label>
          </td>
          <td>
            <%= cap_name %>
            <input type="hidden" name="variable_parameters[<%= cap %>][name]" value="<%= cap_name %>"/>
          </td>
          <td style="line-height: 2.2;"><%= cap %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  <div class="form-group">
    <div style="margin-top: 1.5rem; margin-bottom: 1.5rem; display: flex;align-items: center;justify-content: center;">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </div>
</form>
</div>
