<script>
  const checkAll = (check=true) => document.querySelectorAll("input[type='checkbox']").forEach((el) => {el.checked = check});
</script>
<div class="well">
  <h2>Nexus LTI Registration</h2>
  <h4 style="margin-top:3rem; margin-bottom:3rem;">Select the capabilities you want to use:</h4>
  <div class="form-group" style="margin-bottom:3rem;">
    <button class="btn btn-sm btn-primary" onclick="checkAll()"><%= icon 'check' %> <span style="vertical-align: middle; margin-left:.5rem;">Check All</span></button>
    <button class="btn btn-sm btn-primary" onclick="checkAll(false)"><%= icon 'minus' %> <span style="vertical-align: middle; margin-left:.5rem;">Uncheck All</span></button>
  </div>
  <form method="post" class="form-horizontal" action="<%= lti_save_capabilities_path %>">
    <input type="hidden" name="reg_id" value="<%= @registration.id %>"/>
  <p><strong>Select which Services you would like to enable</strong></p>
  <table class="table table-sm" style="background-color: white;">
    <thead>
      <tr>
        <th class="text-center">Enable?</th>
        <th>Service Name</th>
        <th>Service Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @services_offered.each do |service| %>
        <% service_name = service[:name] %>
        <% service_actions = service[:actions] %>
        <tr>
          <td class="text-center">
            <label style="display: block;">
              <input type="checkbox" value="true" name="service[<%= service_name %>][enabled]"/>
            </label>
          </td>
          <td>
            <%= service_name %>
            <input type="hidden" name="service[<%= service_name %>][id]" value="<%= service[:service] %>"/>
          </td>
          <td>
            <%= service_actions.join(', ') %>
            <input type="hidden" name="service[<%= service_name %>][actions]" value="<%= service_actions %>"/>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><strong>Select which variable parameters you would like to pass along with their values</strong></p>
  <table class="table table-sm" style="background-color: white;">
    <thead>
      <tr>
        <th class="text-center">Enable?</th>
        <th>Returned Field Name</th>
        <th>LTI&trade; Variable</th>
      </tr>
    </thead>
    <tbody>
      <% @capabilities[:parameters].each do |cap| %>
        <% cap_name = cap.downcase.gsub('.', '_') %>
        <tr>
          <td class="text-center" style="line-height: 2.2;">
            <label style="display: block;">
              <input type="checkbox" value="true" name="variable_parameters[<%= cap %>][enabled]"/>
            </label>
          </td>
          <td>
            <%= cap_name %>
            <input type="hidden" name="variable_parameters[<%= cap %>][name]" value="<%= cap_name %>"/>
          </td>
          <td style="line-height: 2.2;"><%= cap %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  <div class="form-group">
    <div style="margin-top: 1.5rem; margin-bottom: 1.5rem; display: flex;align-items: center;justify-content: center;">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </div>
</form>
</div>
