<% if @is_lti && !@is_lti_error %>
  <div class="hidden">
    <div>
      Referrer: <%= @referrer %>
    </div>
    <div>
      Session: <%= @session_id.nil? ? 'null' : @session_id %>
    </div>
    <div>
      <div>
        LTI: <%= @is_lti %>
      </div>
      <div>
        Error: <%= @is_lti_error %>
      </div>
    </div>
    <div>
      Teacher: <%= @is_teacher %>
    </div>
    <div>
      Student: <%= @is_student %>
    </div>
    <div>
      Signed In: <%= user_signed_in? %>
    </div>
    <div>
      https: <%= request.ssl? %>
    </div>
    <div>
      LTI_HTTPS_SESSION: <%= LTI_HTTPS_SESSION %>
    </div>
    <div>
      LTI_HTTP_SESSION: <%= LTI_HTTP_SESSION %>
    </div>
  </div>
<% end %>
