<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-alerts@1.2.2/bootstrap-alerts.min.js"></script>
<script>
  $(document).ready(function () {
  
    const find_styles = (class_name) =>
      Array.from(document.styleSheets)
        .map((s) => Array.from(s.cssRules).filter(({ selectorText }) => selectorText == class_name))
        .filter((v) => v.length)
        .map((s) =>
          s.map(({ selectorText, cssText, style }) => ({
            selectorText,
            cssText,
            style,
          }))
        )
        .flat();
  
    $('.sep-or').css('background', find_styles('.well')[0].style.backgroundColor)
  
    var req_busy = false;
  
    const config_textarea = 'textarea#config';
    const { a, c } = { a: 'select.assignment_select' };
  
    const clearSelection = () => {
      if (window.getSelection) {
        window.getSelection().removeAllRanges();
      } else if (document.selection) {
        document.selection.empty();
      }
    };
  
    $(a).on('change', ({ target }) => {
      const value = $(target).val();
      const data = { assignment: $(a).val() };
      const req = async () => {
        if (req_busy) return;
        req_busy = true;
        try {
          const resp = await axios.post('<%= lti_configure_generate_path %>', data);
          const { config } = resp.data;
          $(config_textarea).val(`lti_config=${config}`);
        } catch (error) {
          console.log('ERROR', error);
        }
        req_busy = false;
      };
      if (!isNaN(data.assignment)) {
        req();
      } else {
        $(config_textarea).val('');
      }
    });
  
    $('button.clipboard_btn').on('click', () => {
      const value = $(config_textarea).val();
      if (value) {
        $(config_textarea).select();
        document.execCommand('copy');
        clearSelection();
        $('#clipboard_alert').html('');
        $('#clipboard_alert').bootstrapAlert({
          type: 'success',
          dismissible: false,
          message: `<%= icon 'check' %><span style="vertical-align: middle; margin-left:.5rem;"> Copied to clipboard</span>`,
        });
        setTimeout(() => {
          $('#clipboard_alert').html('');
        }, 5000);
      }
    });
  });
</script>
<div class="well">
  <h2>LTI - Configuration Generator</h2>
  <hr>
  <h5 class="course-title" style="margin-bottom:3rem"><%= icon 'book' %> <%= link_to @cid_course.title, @cid_course %></h5>
  <div class ="form-horizontal">
    <div class="form-group">
      <div class="col-lg-12" style="margin-bottom:.25rem">
        <% if @cid %>
          <%= link_to(new_assignment_path(cid: @cid)) do %>
            <button type="button" name="button" class="btn btn-sm btn-primary"><%= icon 'plus-circle' %> Create Assignment</button>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-12">
        <div class="row" style="width: 100%;text-align: center; border-bottom: 1px solid #bdbdbd; line-height: 0.1em; margin: 1.5rem 0 1.5rem;">
          <span class="sep-or" style="padding:0 1rem;">OR</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:.5rem">
        <select class="form-control assignment_select">
          <option selected>Select an Assignment</option>
          <% current_user.assignments.each do |a| %>
            <% if a.course.id.to_s != @cid %>
              <% next %>
            <% end %>
            <option value="<%= a.id %>"><%= "Course: #{a.course.title} #{'-'*5} #{a.title} #{'-'*5} #{a.started? ? 'Started' : 'Starts'}: #{distance_from_now_string a.start} #{'-'*5} Deadline: #{distance_from_now_string a.deadline}" %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-12">
        <label for="config" class="control-label">Custom parameters generated</label>
        <textarea id="config"  class="form-control" rows="3" style="max-width: 100%; resize:none" readonly></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <button type="button" name="button" class="btn btn-sm btn-success clipboard_btn"><%= icon 'clipboard' %> Copy to clipboard</button>
      </div>
    </div>
  </div>
  <div id="create_alert"></div>
  <div id="clipboard_alert"></div>
</div>
