<h1>LTI - Manage Assignment</h1>

<script>
  function confirmDeletion() {
    return confirm("This action will delete the assignment and all its submissions. Are you sure?");
  }
</script>

<%= link_to(new_assignment_path(cid: 1)) do %>
    <button type="button" name="button" class="btn btn-sm btn-primary"><%= icon 'plus-circle' %> Create Assignment</button>
<% end %>

<%= link_to(edit_assignment_path(id: 1)) do %>
  <button type="button" name="button" class="btn btn-sm btn-primary"><%= icon 'edit' %> Edit Assignment</button>
<% end %>

<%= link_to(delete_assignment_path(id: 5), onclick: 'return confirmDeletion()') do %>
    <button type="button" class="btn btn-sm btn-danger"><%= icon 'times' %> Delete Assignment</button>
<% end %>